//- layout.jade

doctype html
html(lang="en")
  head
    title 測試網頁
    <!-- build:css css/combined.css -->
    link(rel='stylesheet', href='/assets/css/pluginAll.min.css')
    link(rel='stylesheet', href='/assets/css/styles.css')
    <!-- endbuild -->
    <!-- build:js css/combined.js -->
    script(src="/assets/javascript/all.js")
    <!-- endbuild -->
  body(ng-app="myApp")
    block content