//- layout.jade

doctype html
html(lang="en")
  head
    title 測試網頁
    meta(charset="UTF-8")
    <!-- build:css css/combined.css -->
    //- link(rel='stylesheet', href='/assets/css/pluginAll.min.css')
    //- link(rel='stylesheet', href='/assets/css/styles.css')
    <!-- endbuild -->
    <!-- build:js css/combined.js -->
    script(src="/assets/javascript/all.bundle.js")
    script(src="https://code.angularjs.org/1.3.4/angular-route.js")
    <!-- endbuild -->
  body(ng-app="myApp")
    block content