//- layout.jade

doctype html
html(lang="en")
  head
    title 測試網頁
    meta(charset="UTF-8")
    <!-- build:css css/combined.css -->
    //- link(rel='stylesheet', href='/assets/css/pluginAll.min.css')
    //- link(rel='stylesheet', href='/assets/css/styles.css')
    <!-- endbuild -->
    <!-- build:js css/combined.js -->
    script(src="/assets/javascript/all.bundle.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.4.0/Showdown.min.js")
    <!-- endbuild -->
  body
    block content
  script(src="/assets/javascript/react.bundle.js")