//- index.html

extends layout/defaultLayout.jade
include component/list.jade

block content
  p.cllrar 我是一支小小鳥
  .oneTag.col-md-12(ng-controller="ctroe").
    這是一個div
    哈哈哈哈哈哈
    你是是
  // Large modal
  button.btn.btn-primary(type='button', data-toggle='modal', data-target='.bs-example-modal-lg') Large modal
  .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        | 草擬馬
