@import 'compass';

.aaaa {
  width: 200px;
  .bbbb {
    width: 400px;
    height: 300px;
  }
}

.ccxc {
  width: 300px;
}

.adsaadfasfasf {
  width: 500px;
  height: 300px;
}

#border-radius {
  @include border-radius(25px);
}

#v-gradient {
  @include background-image(linear-gradient(white, #aaaaaa));
}